<div class="connect-widget">
  <ul class="connect-links fa-ul">
    <li><i class="fa-li fas fa-question-circle"></i><a href="https://github.com/aiicy/aiicy/issues" target="_blank">{{ i18n "ask_questions" }}</a></li>
    <li><i class="fa-li fas fa-comments"></i><a href="https://github.com/aiicy/aiicy/issues" target="_blank">{{ i18n "request_features" }}</a></li>
    <li><i class="fa-li fas fa-bug"></i><a href="https://github.com/aiicy/aiicy/issues" target="_blank">{{ i18n "report_issues" }}</a></li>
  </ul>
</div>